.idea
.vscode
main
/main.go
web*
ws-*
config/config.go
config/config-*.json
config/config-*.toml
pkg/conf/embed.go
pkg/conf/config-*.json
pkg/conf/config-*.toml

# Ignored items
cmd/admin
internal/admin
cmd/bullet
internal/bullet
cmd/chat
internal/chat

# Ignored directories


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store
